.desktop {
  width: 100%;
  position: relative;
  background: #f5ede4, #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
.anav-logo-parent,
.navbar {
  display: flex;
  align-items: center;
}
.navbar {
  align-self: stretch;
  backdrop-filter: blur(12px);
  background-color: var(--Blush-base);
  justify-content: center;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--fs-13_6);
  color: var(--Ink);
  font-family: var(--font-tenor-sans);
}
.anav-logo-parent {
  width: 1080px;
  padding: var(--padding-20) var(--padding-28) var(--padding-20) 31px;
  box-sizing: border-box;
  gap: 130px;
}
.anav-logo-icon {
  height: 90.7px;
  width: 275px;
  object-fit: cover;
}
.ulnav-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 31.4px;
}
.li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2_5) var(--padding-0) var(--padding-0_9);
  flex-shrink: 0;
}
.component-5 {
  display: flex;
  align-items: flex-start;
}
.text {
  position: relative;
  letter-spacing: var(--letter-spacing-0-41);
  line-height: var(--lh-22_4);
}
.component-56,
.li6 {
  cursor: pointer;
  border: 0;
  display: flex;
}
.li6 {
  padding: var(--padding-01);
  background-color: transparent;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.component-56 {
  padding: var(--padding-9_1) var(--padding-22_4) var(--padding-9_5);
  background-color: var(--Crimson);
  border-radius: var(--br-4);
  align-items: flex-start;
}
.nav-label {
  position: relative;
  font-size: var(--fs-13_6);
  letter-spacing: var(--letter-spacing-0-41);
  line-height: var(--lh-22_4);
  font-family: var(--font-tenor-sans);
  color: var(--Blush-base);
  text-align: left;
}
.divhero-content-parent,
.hero {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hero {
  align-self: stretch;
  background-color: var(--Blush-base);
  overflow: hidden;
  padding: var(--padding-80) var(--padding-130);
  z-index: 9;
}
.divhero-content-parent {
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 0;
  row-gap: var(--gap-20);
}
.divhero-badge,
.divhero-content {
  display: flex;
  align-items: flex-start;
}
.divhero-content {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-20) var(--padding-0);
  box-sizing: border-box;
  gap: var(--item-spacing-23-3);
  min-width: 331px;
  text-align: left;
  font-size: var(--font-size-11-5);
  color: var(--Blush-base);
  font-family: var(--font-tenor-sans);
}
.divhero-badge {
  border-radius: var(--br-20);
  background-color: var(--Crimson);
  padding: 5.4px 14px var(--padding-6_4);
  font-family: var(--font-family-Font-1);
}
.top-2-global {
  position: relative;
  letter-spacing: var(--letter-spacing-1-15);
  line-height: var(--line-height-19);
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
}
.h1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 54.4px;
  color: var(--Blood);
}
.your-expertise-is-container {
  align-self: stretch;
  position: relative;
  line-height: 64.2px;
}
.your-linkedin-presence-is {
  font-weight: 700;
  font-family: var(--font-lora);
  color: var(--Ink);
}
.phero-sub {
  width: 478px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  font-size: var(--font-size-16);
  color: var(--Ink);
}
.stop-leaking-revenue {
  align-self: stretch;
  position: relative;
  line-height: var(--line-height-28-8);
}
.divhero-cta-group {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 16.7px var(--padding-0) 24.7px;
  gap: 0 var(--gap-16);
}
.component-1 {
  cursor: pointer;
  border: 0;
  padding: 13.5px var(--padding-32) 13.6px;
  background-color: var(--Crimson);
  border-radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text6 {
  position: relative;
  font-size: 15.2px;
  letter-spacing: var(--letter-spacing-0-61);
  line-height: var(--line-height-25);
  font-family: var(--font-tenor-sans);
  color: var(--Blush-base);
  text-align: left;
}
.component-2 {
  cursor: pointer;
  border: var(--stroke-weight-1) solid var(--Crimson);
  padding: var(--padding-9_1) var(--padding-22_4) var(--padding-9_5);
  background-color: transparent;
  border-radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text7 {
  position: relative;
  font-size: var(--fs-13_6);
  letter-spacing: var(--letter-spacing-0-54);
  line-height: var(--lh-22_4);
  font-family: var(--font-tenor-sans);
  color: var(--Crimson);
  text-align: left;
}
.divhero-visual {
  height: 593px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.divhero-visual-child {
  width: 406px;
  height: 549px;
  object-fit: cover;
}
.stats-bar {
  align-self: stretch;
  background-color: var(--Blood);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 44px var(--padding-130);
  gap: var(--gap-20);
  z-index: 8;
  text-align: center;
  font-size: 35.2px;
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.divstat-item,
.strong {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divstat-item {
  flex: 1;
  min-width: 69px;
}
.strong {
  z-index: 1;
}
.brands-built {
  position: relative;
  font-size: 12.8px;
  letter-spacing: var(--letter-spacing-0-38);
  line-height: 21.1px;
  font-family: var(--font-tenor-sans);
  color: var(--Rose-Mist);
  z-index: 2;
  margin-top: -0.5px;
}
.strong2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.globally-certified-linkedin {
  position: relative;
  font-size: 12.8px;
  letter-spacing: var(--letter-spacing-0-38);
  line-height: 21.1px;
  font-family: var(--font-tenor-sans);
  color: var(--Rose-Mist);
  margin-top: -0.5px;
  flex-shrink: 0;
}
.strong4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.days {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--line-height-35-2);
  font-weight: var(--font-weight-700);
  font-family: inherit;
}
.h2section-title,
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  align-self: stretch;
  height: 947px;
  background-color: var(--Blush-base);
  flex-shrink: 0;
  padding: 60px var(--padding-20) var(--padding-80);
  box-sizing: border-box;
  gap: 27px;
  z-index: 7;
  text-align: center;
  font-size: var(--font-size-40);
  color: var(--Ink);
  font-family: var(--font-lora);
}
.h2section-title {
  width: var(--width-600);
  max-width: 600px;
}
.a-complete-system {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--line-height-50);
  font-weight: var(--font-weight-700);
  font-family: inherit;
}
.psection-sub {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: var(--width-560);
  font-size: var(--font-size-15-5);
  font-family: var(--font-tenor-sans);
}
.from-solo-founders {
  position: relative;
  line-height: var(--lh-27_9);
}
.divservices-grid {
  width: var(--width-1020);
  display: flex;
  align-items: flex-start;
  padding: 25px 145px var(--padding-15) 150px;
  box-sizing: border-box;
  gap: 25px;
}
.divservice-card,
.divservice-card-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divservice-card-parent {
  gap: 25px;
  text-align: center;
  font-size: var(--fs-19_2);
  color: var(--Blush-base);
  font-family: var(--font-family-Font-1);
}
.divservice-card {
  border-radius: var(--br-12);
  background-color: var(--Crimson);
  padding: var(--padding-33) var(--padding-32) 18.5px;
  gap: var(--gap-20);
}
.divservice-icon {
  width: 44px;
  border-radius: var(--br-10);
  background-color: var(--Blood);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.2px var(--padding-0) 6.8px;
  box-sizing: border-box;
}
.div {
  position: relative;
  line-height: var(--lh-31_7);
}
.h3,
.service-headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-headings {
  gap: 9.5px;
  text-align: left;
  font-size: var(--fs-17_6);
  font-family: var(--font-lora);
}
.h3 {
  width: 284.4px;
}
.linkedin-workshops {
  position: relative;
  line-height: var(--line-height-29);
}
.p {
  width: 285px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-13_9);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.high-impact-group-sessions {
  align-self: stretch;
  height: 91px;
  position: relative;
  line-height: var(--lh-20_9);
  display: inline-block;
}
.divservice-card2 {
  border-radius: var(--br-12);
  background-color: var(--Crimson);
  padding: var(--padding-33) var(--padding-32) 16.5px;
  gap: var(--gap-20);
}
.divservice-card2,
.p2,
.service-headings-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-headings-two {
  gap: 10.5px;
  text-align: left;
  font-size: var(--fs-17_6);
  font-family: var(--font-lora);
}
.p2 {
  width: 285px;
  font-size: var(--fs-13_9);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.day-team-programs {
  align-self: stretch;
  position: relative;
  line-height: 24.4px;
}
.divservice-card3,
.p3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divservice-card3 {
  border-radius: var(--br-12);
  background-color: var(--Crimson);
  padding: var(--padding-33) var(--padding-32) 20.5px;
  gap: var(--gap-20);
}
.p3 {
  width: 285px;
  height: 94px;
  font-size: var(--fs-13_9);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.private-coaching-for {
  align-self: stretch;
  position: relative;
  line-height: 24.4px;
  flex-shrink: 0;
}
.outcomes {
  align-self: stretch;
  height: 784px;
  background-color: var(--Blood);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px var(--padding-130) var(--padding-80);
  box-sizing: border-box;
  gap: var(--gap-32);
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-40);
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.h2section-title2,
.what-changes-when {
  width: var(--width-600);
  display: flex;
  justify-content: center;
}
.h2section-title2 {
  align-items: flex-start;
  max-width: 600px;
}
.what-changes-when {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--line-height-50);
  font-weight: var(--font-weight-700);
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.psection-sub2 {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: var(--width-560);
  font-size: 16px;
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.expertise-doesnt-speak {
  position: relative;
  line-height: var(--lh-27_9);
  flex-shrink: 0;
}
.divoutcomes-grid {
  width: var(--width-1020);
  height: 250.2px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  grid-template-rows: repeat(2, 83.09380340576172px);
  column-gap: 50px;
  row-gap: 40px;
  text-align: left;
  font-size: 38.4px;
  color: var(--Rose-Mist);
  font-family: var(--font-family-Font-2);
}
.divoutcome-item {
  height: 84px;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}
.spanoutcome-num {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) 8px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--width-48);
  flex-shrink: 0;
}
.number-spans {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--line-height-38-4);
  font-weight: var(--font-weight-700);
  font-family: inherit;
}
.div5,
.h35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div5 {
  position: absolute;
  top: -1px;
  left: 68px;
  gap: 5.7px;
  flex-shrink: 0;
  font-size: 16.8px;
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.h35 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0_7);
}
.recognized-industry-authority {
  position: relative;
  line-height: 27.7px;
}
.p5 {
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 0.8px;
  box-sizing: border-box;
  font-size: var(--font-size-14);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.your-expertise-becomes {
  width: 425px;
  position: relative;
  line-height: var(--line-height-24-5);
  display: flex;
  align-items: center;
}
.divoutcome-item2 {
  height: 83.1px;
  position: relative;
  grid-column: 1;
  grid-row: 2;
}
.spanoutcome-num2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--padding-0) var(--padding-4) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--width-48);
  flex-shrink: 0;
}
.div6,
.p6,
.spanoutcome-num2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div6 {
  position: absolute;
  top: -0.6px;
  left: 68px;
  gap: 5.6px;
  flex-shrink: 0;
  font-size: 16.8px;
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.p6 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) 0.8px;
  font-size: var(--font-size-14);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.from-solo-presence {
  width: var(--width-393);
  position: relative;
  line-height: var(--line-height-24-5);
  display: flex;
  align-items: center;
}
.divoutcome-item3 {
  height: 83.1px;
  position: relative;
  grid-column: 2;
  grid-row: 2;
}
.spanoutcome-num3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--width-48);
}
.div7,
.h37,
.p7,
.spanoutcome-num3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.div7 {
  position: absolute;
  top: -0.6px;
  left: 62px;
  width: 418px;
  height: 109px;
  gap: 5.6px;
  font-size: 16.8px;
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.h37,
.p7 {
  padding: var(--padding-0) var(--padding-0) var(--padding-0_7);
}
.p7 {
  width: 459px;
  padding: var(--padding-0) var(--padding-0) 0.8px;
  box-sizing: border-box;
  font-size: var(--font-size-14);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.your-online-authority {
  width: 458px;
  position: relative;
  line-height: var(--line-height-24-5);
  display: flex;
  align-items: center;
}
.divoutcome-item4 {
  height: 100px;
  position: relative;
  grid-column: 2;
  grid-row: 1;
}
.spanoutcome-num4 {
  position: absolute;
  top: -0.5px;
  left: 0;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: var(--width-48);
  flex-shrink: 0;
}
.div8 {
  position: absolute;
  top: -1.5px;
  left: 62px;
  width: 449px;
  height: 112px;
  gap: 5.7px;
  font-size: 16.8px;
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.div8,
.h38,
.p8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.h38 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-0_7);
}
.p8 {
  width: 461px;
  padding: var(--padding-0) var(--padding-0) 0.8px;
  box-sizing: border-box;
  font-size: var(--font-size-14);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.a-system-that {
  align-self: stretch;
  position: relative;
  line-height: var(--line-height-24-5);
}
.component-57 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9_1) var(--padding-22_4) var(--padding-9_5);
  background-color: var(--Blush-base);
  border-radius: var(--br-4);
  display: flex;
  align-items: flex-start;
}
.text8 {
  position: relative;
  font-size: var(--fs-13_6);
  letter-spacing: var(--letter-spacing-0-41);
  line-height: var(--lh-22_4);
  font-family: var(--font-tenor-sans);
  color: var(--Blood);
  text-align: left;
}
.psection-sub3,
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.testimonials {
  align-self: stretch;
  height: 859px;
  background-color: var(--Blush-base);
  flex-shrink: 0;
  justify-content: center;
  padding: 79px var(--padding-130) var(--padding-80);
  gap: var(--gap-30);
  z-index: 5;
  text-align: center;
  font-size: var(--font-size-40);
  color: var(--Ink);
  font-family: var(--font-lora);
}
.psection-sub3 {
  width: 560px;
  padding: 3.5px var(--padding-0) var(--padding-0);
  max-width: var(--width-560);
  font-size: var(--font-size-16);
  color: var(--Blood);
  font-family: var(--font-tenor-sans);
}
.divtestimonials-grid {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--item-spacing-s);
  text-align: left;
  font-size: var(--fs-13_6);
  color: var(--Blush-base);
  font-family: var(--font-family-Font-1);
}
.divstarsmargin,
.divtestimonial-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divtestimonial-card {
  height: 352px;
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-14);
  background-color: var(--Crimson);
  padding: var(--padding-32);
  box-sizing: border-box;
  min-width: 243px;
}
.divstarsmargin {
  padding: var(--padding-0) var(--padding-0) var(--padding-16);
}
.div9,
.divstars,
.divstarsmargin {
  align-self: stretch;
}
.divstars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div9 {
  position: relative;
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--lh-22_4);
}
.blockquotemargin {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) 22.9px;
  font-size: 15.7px;
  font-family: var(--font-lora);
}
.blockquote {
  margin-left: -0.2px;
  height: 161px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.within-60-days {
  align-self: stretch;
  position: relative;
  line-height: 27.4px;
}
.divtestimonial-author {
  align-self: stretch;
  border-top: var(--stroke-weight-1) solid var(--Ink);
  display: flex;
  align-items: center;
  padding: var(--padding-20) var(--padding-0) var(--padding-0);
  gap: var(--item-spacing-12);
  text-align: center;
  font-size: var(--fs-13_1);
}
.divauthor-avatar {
  height: var(--height-40);
  width: var(--width-40);
  border-radius: var(--br-20);
  background-color: var(--Blood);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.2px var(--padding-0) 9.8px;
  box-sizing: border-box;
}
.mr {
  position: relative;
  line-height: var(--lh-21_7);
  font-weight: var(--font-weight-600);
}
.divauthor-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 0.6px;
  text-align: left;
  font-size: var(--font-size-14);
}
.michael-r {
  position: relative;
  line-height: var(--line-height-23-1);
  font-weight: var(--font-weight-600);
}
.founder-ceo {
  position: relative;
  font-size: var(--font-size-12-5);
  line-height: 20.6px;
  color: var(--Ink);
  margin-top: -1px;
}
.divtestimonial-card2 {
  align-self: stretch;
  flex: 1;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-14);
  background-color: var(--Crimson);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32);
  box-sizing: border-box;
  min-width: 243px;
}
.blockquotemargin2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) 24.1px var(--padding-0);
  font-size: 15.7px;
  font-family: var(--font-lora);
}
.blockquote2 {
  height: 159.9px;
  width: 260.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.the-employee-advocacy {
  width: 271px;
  position: relative;
  line-height: 27.4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.component-12 {
  cursor: pointer;
  border: 0;
  padding: 13.5px var(--padding-32) 13.6px;
  background-color: var(--Crimson);
  width: 204px;
  border-radius: var(--br-4);
  justify-content: flex-end;
}
.component-12,
.pricing,
.psection-sub4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pricing {
  align-self: stretch;
  height: 815px;
  background-color: var(--Blood);
  flex-shrink: 0;
  padding: 79px var(--padding-130) var(--padding-80);
  gap: var(--item-spacing-12);
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-40);
  color: var(--Blush-base);
  font-family: var(--font-lora);
}
.psection-sub4 {
  width: 560px;
  padding: 3.5px var(--padding-0) var(--padding-0);
  max-width: var(--width-560);
  text-align: center;
  font-size: var(--font-size-15-5);
  color: var(--Rose-Mist);
  font-family: var(--font-tenor-sans);
}
.divpricing-grid {
  align-self: stretch;
  height: 495px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
  grid-template-rows: 437.156005859375px;
  column-gap: 25px;
  row-gap: 24px;
  padding-top: var(--padding-36);
}
.divpricing-card {
  height: 459px;
  border-radius: var(--br-14);
  background-color: var(--Rose-Mist);
  border: var(--stroke-weight-1) solid var(--Dusk-Rose);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 39px var(--padding-32) 42px;
  gap: var(--gap-20);
  grid-column: 1;
  grid-row: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-19_2);
  color: var(--Blood);
  font-family: var(--font-lora);
}
.workshop {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-31_7);
}
.pprice-desc {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-14);
  font-family: var(--font-tenor-sans);
}
.for-companies {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-21);
}
.li7,
.ulfeature-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ulfeature-list {
  padding: 18.4px var(--padding-0) var(--padding-22_4);
  font-size: var(--fs-13_9);
  color: var(--Crimson);
  font-family: var(--font-family-Font-1);
}
.li7 {
  padding: var(--padding-6_4) var(--padding-0) var(--padding-6_4)
    var(--padding-24);
  position: relative;
  isolation: isolate;
}
.div12,
.group-linkedin-training {
  line-height: var(--lh-20_9);
  flex-shrink: 0;
}
.div12 {
  width: var(--width-14_3);
  height: var(--height-20_9);
  position: absolute;
  margin: 0 !important;
  top: 6.4px;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 0;
}
.group-linkedin-training {
  position: relative;
  font-family: var(--font-tenor-sans);
  color: var(--Blood);
  z-index: 1;
}
.component-22 {
  cursor: pointer;
  border: var(--stroke-weight-1) solid var(--Blood);
  padding: var(--padding-9_1) var(--padding-22_4) var(--padding-9_5);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.workshop-pricing-button {
  position: relative;
  font-size: var(--fs-13_6);
  letter-spacing: var(--letter-spacing-0-54);
  line-height: var(--lh-22_4);
  font-family: var(--font-tenor-sans);
  color: var(--Blood);
  text-align: center;
}
.divpricing-card2 {
  border-radius: var(--br-14);
  background-color: var(--Dusk-Rose);
  border: var(--stroke-weight-1) solid var(--Dusk-Rose);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 39px var(--padding-32) 42px;
  position: relative;
  isolation: isolate;
  gap: var(--gap-10);
  grid-column: 2;
  grid-row: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: 10.9px;
  color: var(--Blood);
  font-family: var(--font-family-Font-1);
}
.spanfeatured-badge {
  width: 36.81%;
  margin: 0 !important;
  position: absolute;
  top: -13.5px;
  right: 31.89%;
  left: 31.3%;
  border-radius: var(--br-10);
  background-color: var(--color-hotpink);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 9px;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 0;
  flex-shrink: 0;
  color: var(--color-white-solid);
}
.most-popular {
  width: 101px;
  position: relative;
  letter-spacing: var(--letter-spacing-0-98);
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.h310,
.pprice-desc2 {
  flex-direction: column;
}
.h310 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0_7);
  z-index: 1;
  flex-shrink: 0;
  font-size: var(--fs-19_2);
  font-family: var(--font-lora);
}
.pprice-desc2 {
  z-index: 2;
  font-size: var(--fs-14);
  font-family: var(--font-tenor-sans);
}
.component-23,
.pprice-desc2,
.ulfeature-list2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ulfeature-list2 {
  flex-direction: column;
  padding: 18.4px var(--padding-0) var(--padding-22_4);
  z-index: 3;
  font-size: var(--fs-13_9);
  color: var(--Crimson);
}
.component-23 {
  cursor: pointer;
  border: 1px solid var(--Blood);
  padding: var(--padding-9_1) var(--padding-22_4) var(--padding-9_5);
  background-color: transparent;
  border-radius: var(--br-4);
  justify-content: center;
  z-index: 4;
}
.divfaq-inner,
.divpricing-card3,
.faq {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.divpricing-card3 {
  border-radius: var(--br-14);
  background-color: var(--Rose-Mist);
  border: var(--stroke-weight-1) solid var(--Dusk-Rose);
  align-items: flex-start;
  padding: 37px var(--padding-32) 38px;
  gap: var(--item-spacing-9-6);
  grid-column: 3;
  grid-row: 1;
  text-align: left;
  font-size: var(--fs-19_2);
  color: var(--Blood);
  font-family: var(--font-lora);
}
.divfaq-inner,
.faq {
  box-sizing: border-box;
  max-width: 100%;
}
.faq {
  align-self: stretch;
  height: 706px;
  background-color: var(--Blush-base);
  align-items: center;
  padding: var(--padding-80) var(--padding-20) 40px;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-40);
  color: var(--Crimson);
  font-family: var(--font-lora);
}
.divfaq-inner {
  width: var(--width-1020);
  height: 618px;
  align-items: flex-start;
  padding: 31px var(--padding-0) var(--padding-15);
  gap: 12px;
}
.h2section-title5 {
  width: var(--width-1020);
  align-items: center;
}
.h2section-title5,
.psection-sub-parent,
.psection-sub5 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.psection-sub-parent {
  align-items: flex-start;
  font-size: var(--font-size-16);
  color: var(--Ink);
  font-family: var(--font-tenor-sans);
}
.psection-sub5 {
  width: var(--width-1020);
  align-items: center;
  padding: var(--padding-4) var(--padding-0) var(--padding-28);
  box-sizing: border-box;
  z-index: 2;
}
.question-columns,
.question-columns-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.question-columns-wrapper {
  width: var(--width-1020);
  padding: var(--padding-0) var(--padding-21) var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--Crimson);
  font-family: var(--font-tenor-sans);
}
.question-columns {
  width: 775px;
  flex-direction: column;
  gap: var(--gap-30);
}
.question-headers,
.question-headers-parent {
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
}
.question-headers-parent {
  height: var(--height-50);
  border-bottom: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-10);
  gap: var(--gap-19);
}
.question-headers {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-10);
  gap: var(--gap-10) var(--gap-20);
}
.who-is-this {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.material-symbolsadd-icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.for-professionals-and-business-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: var(--padding-10);
  flex-shrink: 0;
  font-size: var(--fs-14);
  font-family: Inter;
}
.for-professionals-and {
  width: var(--width-393);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.for-professionals-and,
.for-professionals-and5 {
  position: relative;
  font-weight: 600;
}
.cta-contact,
.divcta-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-contact {
  align-self: stretch;
  height: 218px;
  background-color: var(--Blush-base);
  flex-shrink: 0;
  padding: 50px var(--padding-130);
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
  font-size: 41.6px;
  color: var(--color-hotpink);
  font-family: var(--font-family-Font-2);
}
.divcta-left {
  width: 568px;
  flex-direction: column;
  gap: var(--item-spacing-11);
}
.component-58 {
  cursor: pointer;
  border: 0;
  padding: 9px var(--padding-22_4);
  background-color: var(--Crimson);
  width: 168px;
  height: 48px;
  border-radius: var(--br-4);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-us-button {
  position: relative;
  font-size: var(--font-size-16);
  line-height: var(--line-height-28-8);
  font-family: var(--font-tenor-sans);
  color: var(--Blush-base);
  text-align: center;
}
.h25 {
  width: 736px;
  display: none;
  align-items: flex-start;
  flex-shrink: 0;
}
.book-a-strategic {
  flex: 1;
  position: relative;
  line-height: var(--line-height-54);
  font-weight: 700;
}
.h26 {
  width: 736px;
  display: none;
  align-items: flex-start;
  flex-shrink: 0;
  font-size: var(--fs-19_2);
  color: var(--color-linen);
  font-family: var(--font-family-Font-1);
}
.clarity-direction-results {
  flex: 1;
  position: relative;
  line-height: var(--lh-31_7);
}
.input-field {
  width: 736px;
  height: var(--height-50);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 8.4px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  flex-shrink: 0;
}
.footer {
  margin-left: -1px;
  align-self: stretch;
  background-color: var(--Blood);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px var(--padding-130);
  z-index: 1;
  text-align: left;
  font-size: var(--fs-17_6);
  color: var(--color-grey-93);
  font-family: var(--font-tenor-sans);
}
.divfooter-inner,
.footer-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.footer-wrapper {
  justify-content: center;
}
.divfooter-inner {
  overflow: hidden;
  flex-wrap: wrap;
  align-content: center;
  gap: 0 var(--gap-30);
}
.afooter-logo {
  height: 131px;
  flex: 1;
  position: relative;
  min-width: 120px;
  font-family: var(--font-family-Font-2);
}
.alina-kovalchuk {
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(--line-height-29);
  display: none;
}
.kovalchuk {
  color: var(--color-deeppink);
}
.horizontal-logo-08-1 {
  position: absolute;
  top: 20.7px;
  left: 0.3px;
  width: 275px;
  height: 90px;
  object-fit: cover;
}
.ulfooter-links {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: 0 var(--gap-10);
  font-size: var(--fs-13_1);
  color: var(--Dusk-Rose);
}
.li21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-3) var(--padding-0) var(--padding-1_4);
}
.text10 {
  position: relative;
  line-height: var(--lh-21_7);
}
.spanfooter-copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) 0.6px;
  box-sizing: border-box;
  min-width: 120px;
  font-size: var(--font-size-12-5);
  color: var(--Blush-base);
}
.alina-kovalchuk2 {
  position: relative;
  line-height: 20.6px;
  flex-shrink: 0;
}
@media screen and (max-width: 1050px) {
  .navbar {
    gap: 72px;
  }
  .anav-logo-parent {
    gap: 65px;
  }
  .divservices-grid {
    padding-left: 75px;
    padding-right: 72px;
    box-sizing: border-box;
  }
  .testimonials {
    height: auto;
  }
  .divtestimonials-grid {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .nav-label {
    display: none;
  }
  .hero {
    padding-top: var(--padding-52);
    padding-bottom: var(--padding-52);
    box-sizing: border-box;
  }
  .your-expertise-is-container {
    font-size: 44px;
    line-height: 51px;
  }
  .days {
    font-size: var(--fs-28);
    line-height: var(--lh-28);
  }
  .services {
    padding-top: 39px;
    padding-bottom: var(--padding-52);
    box-sizing: border-box;
  }
  .a-complete-system,
  .what-changes-when {
    font-size: var(--fs-32);
    line-height: var(--lh-40);
  }
  .number-spans {
    font-size: 31px;
    line-height: 31px;
  }
  .pricing,
  .testimonials {
    padding-top: 51px;
    padding-bottom: var(--padding-52);
    box-sizing: border-box;
  }
  .cta-contact,
  .faq {
    box-sizing: border-box;
  }
  .faq {
    padding-top: var(--padding-52);
    padding-bottom: 26px;
  }
  .cta-contact {
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
  }
  .book-a-strategic {
    font-size: 33px;
    line-height: 43px;
  }
}
@media screen and (max-width: 725px) {
  .navbar {
    gap: 36px;
  }
  .anav-logo-parent {
    gap: var(--gap-32);
  }
  .ulnav-links {
    gap: var(--gap-16);
  }
  .hero {
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
    box-sizing: border-box;
  }
  .phero-sub {
    max-width: 100%;
  }
  .stats-bar {
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
    box-sizing: border-box;
  }
  .h2section-title,
  .psection-sub {
    max-width: 100%;
  }
  .divservices-grid {
    padding-left: 37px;
    padding-right: var(--padding-36);
    box-sizing: border-box;
  }
  .outcomes {
    gap: var(--gap-16);
    padding: 51px var(--padding-65) var(--padding-52);
    box-sizing: border-box;
  }
  .h2section-title2,
  .psection-sub2 {
    max-width: 100%;
  }
  .testimonials {
    gap: 15px;
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
    box-sizing: border-box;
  }
  .psection-sub3 {
    max-width: 100%;
  }
  .pricing {
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
    box-sizing: border-box;
  }
  .psection-sub4 {
    max-width: 100%;
  }
  .divfaq-inner {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-65);
    padding-right: var(--padding-65);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    gap: 18px;
  }
  .anav-logo-parent {
    gap: var(--gap-16);
  }
  .hero {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .your-expertise-is-container {
    font-size: 33px;
    line-height: 39px;
  }
  .stats-bar {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .days {
    font-size: 21px;
    line-height: var(--lh-21);
  }
  .services {
    padding-top: 25px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .a-complete-system {
    font-size: var(--fs-24);
    line-height: var(--lh-30);
  }
  .outcomes {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .what-changes-when {
    font-size: var(--fs-24);
    line-height: var(--lh-30);
  }
  .number-spans {
    font-size: 23px;
    line-height: 23px;
  }
  .testimonials {
    padding: var(--padding-33) var(--padding-20) 34px;
    box-sizing: border-box;
  }
  .divtestimonial-card,
  .divtestimonial-card2 {
    padding-top: var(--padding-21);
    padding-bottom: var(--padding-21);
    box-sizing: border-box;
  }
  .pricing {
    padding: var(--padding-33) var(--padding-20) 34px;
    box-sizing: border-box;
  }
  .cta-contact {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .book-a-strategic {
    font-size: 25px;
    line-height: 32px;
  }
  .footer {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
